/*------------------------------------------------------------------
 
Version:        1.0
Last update:    12/17/2017
Author:         Belovance
URL:            https://belovance.com/
-------------------------------------------------------------------*/
/*--------------------------------------------------
    Write Down your Own Custom CSS here. It is better choice than editing style.css file.
    Put it below of style.css file in the header.
---------------------------------------------------*/
